<app-counter (countEmitter)="receiveCounterData($event)"></app-counter>
<app-display [counterInput]="counter"></app-display>
<app-human [name]="name" [bornDate]="bornDate"></app-human>
<app-user-details></app-user-details>

<form>
  <div class="row">
    <label>Name</label>
    <input type="text" placeholder="Name..." [(ngModel)]="name" name="name"/>
  </div>
  <div class="row">
    <label>Born Date</label>
    <input type="text" placeholder="Born date eg.: 1996-01-01" [(ngModel)]="bornDate" name="bornDate"/>
  </div>
</form>
